# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Environment files
.env
.env.*
!.env.example
.env.deploy

# Deployment files
deployment/
deployment.tar.gz
deployment.zip
github-secrets-template.txt
deployment-checklist.md

# Server files
uploads/
temp/
backup-*/

# SSL certificates
ssl/
*.pem
*.key
*.crt

# PM2
.pm2/

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.vercel
.env*.local

*.mp4
*.ps1
*.sh
other
*.MD